
        body {       
            margin: 0;
            padding: 0;
            background: url('images/93.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;	
        }
		.wrap{
			    min-height: 100vh;
			    display:flex;
			    justify-content: center;
				align-items: center;
		}
		
        .box {
            width: 400px;
			height:400px;
            background: rgba(0, 0, 0, 0.4);
            padding: 40px;
            text-align: center;
            color: white;
            font-family: 'Century Gothic', sans-serif;
	      }
          .box2 {
            width: 250px;
			height:400px;
            background: rgba(0, 0, 0, 0.4);
            padding: 40px;
            text-align: center;
            color: white;
            font-family: 'Century Gothic', sans-serif;				
        }
        
		  .box2 h5 {
            font-size: 20px;
            letter-spacing: 3px;
            font-weight: 100;
        }
        .box-img {
            border-radius: 50%;
            width: 149px;
            height: 200px;
        }

        .box h1 {
            font-size: 40px;
            letter-spacing: 4px;
            font-weight: 100;
        }

        .box h5 {
            font-size: 20px;
            letter-spacing: 3px;
            font-weight: 100;
        }

        .box p {
            text-align: justify;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        .box li {
            display: inline-block;
            margin: 6px;
            list-style: none;
        }

            .box li a {
                color: white;
                text-decoration: none;
                font-size: 60px;
                transition: all ease-in-out 250ms;
            }

                .box li a:hover {
                    color: #b9b9b9;		
    	            }
				
